<%- include('./partials/head') %>

<article class="leeslijst">
    <h2>Mijn Leeslijst</h2>
    <ul>
        <% items.forEach(item => { %>
            <li>
                <a href="./detail/<%= item.id %>">
                    <h3><%= item.title %></h3>
                    <!-- <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding%>" alt=""> -->
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>?avif" type="image/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>?webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" alt="" height="<%= item.afbeelding.height %>" width="<%= item.afbeelding.width %>">
                    </picture>
                </a>
                <hr class="line">
            </li>
            
        <% }); %>
    </ul>

</article>

<%- include('./partials/foot') %>